# Flutter
.dart_tool/
.packages
.pub-cache/
build/

# IDE
.idea/
.vscode/

# Platform generated
android/.gradle/
android/local.properties
ios/Pods/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
